spring: # Bloco raiz de configurações relacionadas ao Spring
  application: # Configurações gerais da aplicação
    name: Produtos API # Definindo nome para a aplicação (útil para logs, monitoramento e service discovery).
  datasource: # Configurações da fonte de dados (banco de dados)
    url: jdbc:h2:mem:produtos # Definindo a URL de conexão. 'jdbc:h2:mem' indica que será um banco de dados H2 rodando APENAS na memória (os dados serão perdidos ao reiniciar). 'produtos' é o nome do banco.
    username: sa # Definindo o nome de usuário para o banco (usuário padrão para H2).
    password: admin # Definindo a senha para o banco.
  jpa: # Configurações do JPA (Java Persistence API) e Hibernate
    database-platform: org.hibernate.dialect.H2Dialect # Definindo qual dialeto do Hibernate usar, garantindo que o SQL gerado seja compatível com o H2.
  h2: # Configurações específicas para o banco de dados H2
    console:
      enabled: true # Habilitando o console web do H2, uma interface gráfica para acessar o banco de dados via browser.
      path: /h2-console # Definindo a rota (endpoint) para acessar o console do H2 (e.g., http://localhost:[PORTA]/h2-console).
